.contacts {
  padding: 40px 0 0 0;
  @media (max-width: 1600px) {
    padding: 40 / 1600 * 100vw 0 0 0;
  }
}

.contactsList {
  background-color: var(--color-contacts);

  padding: 30px;

  border-radius: 18px;
  @media (max-width: 480px) {
    padding: 15px;
  }
}

.contactsListItem {
  font-size: #{'clamp(14px, 1.25vw, 20px)'};
  margin-bottom: 10px;
  span {
    font-weight: bold;
    margin-right: 5px;
  }
}
